# Postgres
POSTGRES_USER=bms
POSTGRES_PASSWORD=bms_secret
POSTGRES_DB=bms
DATABASE_URL=postgresql+psycopg2://bms:bms_secret@postgres:5432/bms

# Redis
REDIS_URL=redis://redis:6379/0

# JWT
JWT_SECRET=change_me_super_secret_key_for_bms_clone
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Internal service URLs (used by api-gateway)
USER_SERVICE_URL=http://user-service:8001
MOVIE_SERVICE_URL=http://movie-service:8002
EVENT_SERVICE_URL=http://event-service:8003
THEATRE_SERVICE_URL=http://theatre-service:8004
BOOKING_SERVICE_URL=http://booking-service:8005
PAYMENT_SERVICE_URL=http://payment-service:8006
REVIEW_SERVICE_URL=http://review-service:8007
